@{
    ViewBag.Title = "News";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<ul>
    <li>asdfsadf</li>
    <li>火影忍者完结</li>
    <li>海贼王连载</li>
    <li>9999999</li>
    <li>9999999</li>

</ul>



